<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to django</h1>
    <!-- 02 apr -->
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h5>{{key1}}</h5>
    <h5>{{key2}}</h5>
    <h5>{{key3}}</h5>
    <h5>{{key3.name}}</h5>
    {% for person in key1 %}
    <p>Name: {{ person.name }}, Age: {{ person.age }}, Qualification: {{ person.quali }}</p>
    {% endfor %}


</body>
</html>