<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {% load static %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <title>{% block title %}Landing Page{% endblock %}</title>
  </head>

  
  <body>
    {% block content %}
    <h1>Data</h1>
    <a href = "{% url 'first' %}">First 5 Data</a>
    <a href = "{% url 'last' %}">Last 5 Data</a>
    <a href = "{% url 'all' %}">All Data</a>
    <a href = "{% url 'asc' %}">Ascending Data</a>
    <a href = "{% url 'desc' %}">Descending Data</a>


    <br/>
    {% include "table.html" %}

    {% endblock %}

  </body>
</html>
