{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="text-center mb-4">User Dashboard</h1>
  <a href="{% url 'profile1' pk=userdata.id %}" class="btn btn-success">Go To Profile</a>
</div>

  <div class="card shadow p-4">
    <h2 class="mb-3">Welcome, {{ userdata.name }}</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Education</th>
            <th>Details</th>
            {% if userdata.image %}
              <th>Profile Picture</th>
            {% endif %}
            {% if userdata.resume %}
              <th>Resume</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ userdata.email }}</td>
            <td>{{ userdata.phone }}</td>
            <td>{{ userdata.dob }}</td>
            <td>{{ userdata.gender }}</td>
            <td>{{ userdata.sub }}</td>
            <td>{{ userdata.des }}</td>
            {% if userdata.image %}
              <td><img src="{{ userdata.image.url }}" alt="Profile" class="img-thumbnail" style="max-width: 100px;"></td>
            {% endif %}
            {% if userdata.resume %}
              <td><a href="{{ userdata.resume.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
