
<h1>Common Table</h1>
<div class="container mt-5">
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Education</th>
            <th>Details</th>
            <th>Profile</th>
            <th>Resume</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
