<div class="table-responsive">
    {% if userdata %}
        {% if editdata %}
        {% comment %} <form action="" method = 'post'> {% endcomment %}
        <form action="{% url 'editdata' pk1=userdata.id pk=editdata.id %}" method = 'post'>
            {% csrf_token %}
            <input type='text' name='student_name' value = {{editdata.student_name}}>
            <input type='number' name='clas' value = {{editdata.clas}}>
            <input type='text' name='section' value = {{editdata.section}}>
            <input type='text' name='book_title' value = {{editdata.book_title}}>
            <input type='date' name='issue_date' value = {{editdata.issue_date}}>
            <input type='date' name='return_date' value = {{editdata.return_date}}>
            <input type='number' name='price' value = {{editdata.price}}>
            <input type='submit' value='update'>
        {% else %}
    <table class="table table-striped table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>S.No</th> 
                <th>Id</th> 
                <th>Name</th>
                <th>Class</th>
                <th>Section</th>
                <th>Book</th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.id }}</td>
                <td>{{ i.student_name }}</td>
                <td>{{ i.clas }}</td>
                <td>{{ i.section }}</td>
                <td>{{ i.book_title }}</td>
                <td>{{ i.issue_date }}</td>
                <td>{{ i.return_date }}</td>
                <td>{{ i.price }}</td>
                <td>
                    <a href="{% url 'edit' pk1=userdata.id pk=i.id %}" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete' pk1=userdata.id pk=i.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% else %}
    <div class="text-center text-muted">No records found.</div>
    {% endif %}
</div>
