{% extends "base.html" %}
{% block title %} service {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}

    <h2>Login Page</h2>
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        Email: <input type="email" name="email" required><br><br>
        Password: <input type="password" name="password" required><br><br>
        <button type="submit">Login</button>
    </form>

{% endblock %}