{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}
{% load static %}



{% block content %}
 
<div class="container mb-4">
  <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
  <h1 class="text-center mb-4">User Dashboard</h1>
    <div class="d-flex flex-wrap gap-2">
      <a href="{% url 'userallquery' pk=userdata.id %}" class="btn btn-primary">All Queries</a>
      <a href="{% url 'newquery' pk=userdata.id %}" class="btn btn-warning text-white">New Query</a>
    </div>
  </div>  
</div>

  <div class="card shadow p-4">
    <h2 class="mb-3">Welcome, {{ userdata.stuname }}</h2>

    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
          <tr>
            <th>Email</th>
            <th>Phone</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Education</th>
            <th>Details</th>
            {% if userdata.stuimage %}
              <th>Profile Picture</th>
            {% endif %}
            {% if userdata.sturesume %}
              <th>Resume</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ userdata.stuemail }}</td>
            <td>{{ userdata.stuphone }}</td>
            <td>{{ userdata.studob }}</td>
            <td>{{ userdata.stugender }}</td>
            <td>{{ userdata.stuedu }}</td>
            <td>{{ userdata.studetail }}</td>
            {% if userdata.stuimage %}
              <td><img src="{{ userdata.stuimage.url }}" alt="Profile" class="img-thumbnail" style="max-width: 100px;"></td>
            {% endif %}
            {% if userdata.sturesume %}
              <td><a href="{{ userdata.sturesume.url }}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
